<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="C__Form_Autorization.Properties.Settings.computerConnectionString"
            connectionString="Data Source=128.0.175.56;Initial Catalog=computer;User ID=computer_admin;Password=@qwerty12345;Encrypt=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>